.bggray {
    background-color: #cccccc;
}

.aboutgray {
    background-color: #6E757C;
    color: white;
}

.eBg {
    background-color: #eeeeee;
}

.whitbgandblack{background-color: white;color: BLACK;}
.education{background-color: black;color: white;}
